body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background-image:url('../img/bg1.jpg');
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #f9a533;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
   
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
    text-transform: uppercase;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 18px;
	line-height: 32px;
}

.colored-text { color: #66d6c5; }

::-moz-selection { background: #66d6c5; color: #fff; text-shadow: none; }
::selection { background: #66d6c5; color: #fff; text-shadow: none; }


/***** Loader *****/

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden !important;
	z-index: 99999;
}

.loader-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	background: url(../img/loading.gif) center center no-repeat;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 0px;
}

.section-container-gray-bg {
	background: #f8f8f8;
	border-top: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	border-color: #fff;
}

.section-description {
	margin-top: 20px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 13px;
	padding: 16px 20px 0 20px;
	background: #f9a533;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;
    float:left;
    width:20%;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dotted #aaa;
}


/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	background: #444;
	border: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}
.navbar.navbar-no-bg { background: none;margin-left: 10%;margin-right:10%; }

ul.navbar-nav {
	font-size: 14px;
	color: #fff;
}

.navbar-inverse ul.navbar-nav li a { padding-top: 20px; padding-bottom: 20px; color: #fff; opacity: 0.8;font-weight:500; }
.navbar-inverse ul.navbar-nav li a:hover { color: #f9a533; opacity: 1; }
.navbar-inverse ul.navbar-nav li a:focus { color: #f9a533; outline: 0; opacity: 1; }

.navbar-brand {
	
}

.navbar-toggle {
	margin-top: 13px;
	margin-bottom: 13px;
}


/***** Top content *****/
.top-content{

background-image:url('../img/bg.jpg') !important;
background-repeat: no-repeat !important;
}
.inner-bg {
    padding: 150px 0;margin-left: 5%;margin-right:5%;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .top-big-link {
	margin-top: 35px;
}


/***** Features *****/

.features-container{
  


}
.screenshots-container{
  


}

.features-box {
	padding-top: 0px;
}

.features-box .features-box-icon {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	
    font-size: 60px;
    color: #555;
    line-height: 120px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    -o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

.features-box .features-box-icon:hover {
	background: none;
}

.features-box h3 {
	margin-top: 15px;
	padding: 10px 0;
}


/***** More features *****/

.more-features-container {
	padding-bottom: 60px;
}

.more-features-box {
	margin-top: 30px;
	margin-bottom: 20px;
}

.more-features-box-text {
	margin-top: 40px;
	padding-left: 30px;
	overflow: hidden;
	text-align: left;
}
.more-features-box-text:first-child { margin-top: 20px; }

.more-features-box-text-left {
	padding-left: 0;
	padding-right: 30px;
}

.more-features-box-text-icon {
	float: left;
	width: 60px;
	height: 60px;
	padding-top: 6px;
	background: #66d6c5;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    font-size: 32px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
.more-features-box-text-icon i { vertical-align: middle; }

.more-features-box-text h3 {
	float: right;
	width: 86%;
	margin-top: 0;
}

.more-features-box-text-description {
	float: right;
	width: 86%;
}


/***** Great support *****/

.great-support-container {
	padding-bottom: 60px;
}

.great-support-box {
	margin-top: 30px;
	margin-bottom: 20px;
}

.great-support-box-text {
	margin-top: 40px;
	padding-left: 30px;
	overflow: hidden;
	text-align: left;
}
.great-support-box-text:first-child { margin-top: 20px; }

.great-support-box-text-left {
	padding-left: 0;
	padding-right: 30px;
}

.great-support-box-text h3 {
	margin-top: 0;
}

.great-support-box-text .medium-paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
}


/***** How it works *****/

.how-it-works {
	padding-bottom: 30px;
}

.how-it-works-box {
	padding-top: 15px;
	padding-bottom: 15px;
}

.how-it-works-box .how-it-works-box-icon {
    font-size: 74px;
    line-height: 80px;
}

.how-it-works-box h3 {
	margin-top: 15px;
}

.how-it-works-box p {
	opacity: 0.8;
}


/***** Testimonials *****/

.testimonials-container {
	padding-bottom: 70px;
	background-color:#313238;
	color:white;
}

.testimonial-list {
    margin-top: 0px;
    text-align: center;
}

.testimonial-list .testimonial-image img {
	max-width: 160px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.testimonial-list .testimonial-text {
	margin-top: 30px;
}

.testimonial-list .nav-tabs {
	margin-top: 30px;
    border: 0;
}

.testimonial-list .nav-tabs li {
	float: none;
	display: inline-block;
	margin-left: 5px;
    margin-right: 5px;
}

.testimonial-list .nav-tabs li a {
    width: 14px;
    height: 14px;
    padding: 0;
    background: #ddd;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}

.testimonial-list .nav-tabs li a:hover { border: 0; background: #f9a533; }
.testimonial-list .nav-tabs li.active a { background: #f9a533; }
.testimonial-list .nav-tabs li.active a:focus { border: 0; }


/***** Call to action *****/

.call-to-action-container .section-bottom-button {
	padding-top: 30px;
}


/***** About us *****/

.about-us-container {
	padding-bottom: 65px;
	background-color: #313238;
	color:white;
	
}

.about-us-box {
	padding-top: 30px;
	padding-bottom: 15px;
	text-align: left;
	
}

.about-us-box .about-us-photo {
	width: 160px;
	margin: 0 auto;
}

.about-us-box .about-us-photo img {
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.about-us-box .about-us-social {
    margin-top: 5px;
    font-size: 32px;
    line-height: 36px;
}

.about-us-box .about-us-social a { margin: 0 4px; color: #ddd; }
.about-us-box .about-us-social a:hover, .about-us-box .about-us-social a:focus { color: #66d6c5; }


/***** Footer *****/

footer {
	padding: 20px 0 20px 0;
	background: #f8f8f8;
	border-top: 1px dotted #ddd;
}

.footer-social {
	font-size: 20px;
    line-height: 42px;
}

.footer-social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 5px;
	
	background: white;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
.footer-social a:hover, .footer-social a:focus { background: #f9a533; color: #555; }

.footer-social a i { vertical-align: middle; }

.footer-copyright {
	margin-top: 3px;
    margin-bottom: -23px;
}

#email{width:37%;}
input[type=submit]{background-color: #f9a533;border-color: #f9a533;color:white;border-radius:0px;}

.navbar-fixed-bottom, .navbar-fixed-top{position:absolute;}