.gallery {
	width: 90%;
	margin: auto;
}

.filter {
	background-color: #FCFAE1;
	margin-bottom: 1em;
	padding: 2em 0 2em 1em;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #BD8D46;
}

	.filter span {
		padding: 0 :; 0 0;
		font-family: Georgia, cursive;
		font-style: italic;
	}

	.filter a {
		color: #BD8D46;
		font-size: .85em;
		text-decoration: none;
		text-transform: uppercase;
		padding: 3px 20px;
	}

	.filter a:hover {
		color: #B9121B;
	}

	.filter a.selected {
		color: #B9121B;
	}

.thumbnail_wrap {
	position: relative;
}

a.thumbnail {
	position: absolute;
}

a.thumbnail img {
	width: 75px;
	height: 75px;
	background-color: #FCFAE1;
	padding: 2px;
	box-shadow: 0px 0px 4px #BD8D46;
}

	a.thumbnail img:hover {
		box-shadow: 0px 0px 4px #4C1B1B;
	}

.clear_floats {
	clear: both;
	line-height: 1px;
}

/* Horizontal Media Queries */
@media screen and (min-height: 50px) and (max-height: 520px) {
	.title h1 {
		font-size: 18px;
	}
}

@media screen and (min-height: 521px) and (max-height: 700px) {
	.title h1 {
		font-size: 24px;
	}
}


/* Vertical Media Queries */
@media screen and (min-width: 50px) and (max-width: 500px) {
	.title h1 {
		font-size: 18px;
	}

	body {
		padding: 0px 5px;
	}

	.gallery {
		width: auto;
	}

	.filter span {
		display: block;
		margin-bottom: 10px;
	}

	.filter a {
		display: block;
	}
}

@media screen and (min-width: 501px) and (max-width: 960px) {
	.title h1 {
		font-size: 24px;
	}

	.filter span {
		display: block;
		margin-bottom: 10px;
	}

	.filter a {
		display: block;
		width: 35%;
		float: left;
	}
}

@media screen and (min-width: 961px) {
	.filter span {
		padding-right: 20px;
	}
}