html, 
body {
    width: 1050px !important;
}


div.print-content article.node .node-blog .clearfix div.item-body p a { display: none; }

#printLedger{display:none !important;}
#printreceipt{display:none !important;}
#downloadPdf{display:none !important;}
#followup_b{display:none !important;}

.memberinfo{border-bottom: 2px solid;border-spacing: 10px 10px;}
.plotinfo{border-bottom: 2px solid;border-spacing: 10px 10px;}


#logo_header {

    display:block !important;
  
  }



  #footer{display:block !important;text-align: center;}
a[href]:after {
    content: none !important;
  }
#printTotal{display:none;}
#printBooked{display:none;}

#printRemaining{display:none;}


  table td, table tr{border:1px solid;}


        #right-col{margin-left:0 !important;}
 

.hidden{display:none;visibility:hidden}
.visible-phone{display:none!important}
.visible-tablet{display:none!important}
.hidden-desktop{display:none!important}
.visible-desktop{display:inherit!important}

table.table tr.overdue_color td { background-color: #e5e5e5!important; }

