html, 
body {
    width: 1100px !important;
    -webkit-print-color-adjust: exact !important;
}


div.print-content article.node .node-blog .clearfix div.item-body p a { display: none; }

#printLedger{display:none !important;}
#printreceipt{display:none !important;}
#downloadPdf{display:none !important;}

.memberinfo{border-bottom: 2px solid;border-spacing: 10px 10px;}
.plotinfo{border-bottom: 2px solid;border-spacing: 10px 10px;}


#logo_header {

    display:block !important;
  
  }

 
  #footer{display:block !important;text-align: center;}
  
#viewSlipModal #footer-button{display:none !important;}
a[href]:after {
    content: none !important;
  }
#printTotal{display:none;}
#printBooked{display:none;}

#printRemaining{display:none;}


  table td, table th {
          border: 3px solid black !important;

        }

        table tr th{background-color:#999999;
           -webkit-print-color-adjust: exact; }
        
        #right-col{margin-left:0 !important;}

.hidden{display:none;visibility:hidden}
.visible-phone{display:none!important}
.visible-tablet{display:none!important}
.hidden-desktop{display:none!important}
.visible-desktop{display:inherit!important}



