@media (min-width: 992px) and (max-width: 1199px) {
	
	.more-features-box-text { margin-top: 30px; padding-left: 0; }
	.more-features-box-text:first-child { margin-top: 0; }
	
	.great-support-box-text-left { padding-right: 0; }
	.great-support-box-text-left:first-child { margin-top: 0; }

	
}

@media (min-width: 768px) and (max-width: 991px) {

	.section-description p { padding: 0; }
	
	.more-features-box { float: none; width: auto; }
	.more-features-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.more-features-box-text:first-child { margin-top: 50px; }
	.more-features-box-text-icon { float: none; display: inline-block; }
	.more-features-box-text h3 { float: none; width: auto; margin-top: 20px; }
	.more-features-box-text-description { float: none; width: auto; }
	
	.great-support-box { float: none; width: auto; }
	.great-support-box-text { padding-left: 0; text-align: center; }
	.great-support-box-text-left { padding-right: 0; margin-top:-50px!important;}
	.navbar-brand{padding:0px 0px;}
	#s-img{width:60%;padding-top: 63px;}
	.top-content .top-big-link{margin-top:0px;}
footer{padding:3px 0px 0px 0px;}
	.footer-copyright{font-size:13px;margin-top:0px;}
	.inner-bg{padding:99px 0px;}

}

@media (max-width: 767px) {
	
	.navbar.navbar-no-bg { background: #444; }
	.navbar-brand { margin-left: 0px; float:none;padding:0px 0px;}
	.navbar-collapse { border: 0; }
	.navbar-inverse ul.navbar-nav li a { padding-top: 10px; padding-bottom: 10px; }
	
	.inner-bg { padding: 45px 0; }
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link a.btn { margin-top: -36px;width:auto; }
	.navbar-brand>img{width:50%;margin-top:8px;}
	
	.section-description p { padding: 0; }
    
    .more-features-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.more-features-box-text:first-child { margin-top: 50px; }	
	.more-features-box-text-icon { float: none; display: inline-block; }
	.more-features-box-text h3 { float: none; width: auto; margin-top: 20px; }
	.more-features-box-text-description { float: none; width: auto; }
	
	.great-support-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.great-support-box-text-left { padding-right: 0; }
	
	.footer-social a { margin: 5px; }
	.about-us-box{text-align:center;}
	.about-us-box input[type="text"]{width:75%;margin-bottom:10px;float:left;}
	footer{padding:3px 0px 0px 0px;}
	.footer-copyright{font-size:13px;margin-top:0px;}
	
}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	/* logo */
    .navbar-brand {
    	
    }
	
}
