#b_loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    overflow: hidden !important;
    z-index: 99999;
}

.b_loader-img {
    position: absolute;
    /* left: 50%; */
    /* top: 50%; */
    /* margin: -30px 0 0 -30px; */
    width: 100%;
    height: 100%;
    background: url(../images/setup/update-flat.gif) center center no-repeat;
    
}

#b_loader1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    overflow: hidden !important;
    z-index: 99999;
}

.b_loader-img1 {
    position: absolute;
    /* left: 50%; */
    /* top: 50%; */
    /* margin: -30px 0 0 -30px; */
    width: 100%;
    height: 100%;
    background: url(../images/setup/checkmark.gif) center center no-repeat;
}

.b_loader-img1 h3{position: absolute;
    left: 39%;
    top: 78%;
    background: rgba(255,255,255,.7);
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #dda955;
    color: #dda955;
    font-size: 60px;}
    
    .b_loader-img1 h4{position: absolute;
    left: 39%;
    top: 68%;
    background: rgba(255,255,255,.7);
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #dda955;
    color: #dda955;
    font-size: 50px;}
