@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-custom { padding: 5px 0; }
  .navbar-custom a#logo {
    background: rgba(0, 0, 0, 0) url("../img/logo2.png") no-repeat scroll 0 0;
    height: 34px;
    width: 160px;
    position: relative;
    top: 10px;
    left: 10px;
  }
  .navbar-toggle span.icon-bar {
    background: #ffffff;
    border-radius: 0;
    height: 3px;
  }
  .navbar-custom ul.main-menu {
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-custom ul.main-menu li a {
    background: #222222;
    color: #ffffff;
  }
  .navbar-custom ul.main-menu li a:hover,
  .navbar-custom ul.main-menu li a:focus {
    background: #f58220;
    color: #ffffff;
  }
  .navbar-custom ul.main-menu li.active a {
    background: #f58220;
    color: #ffffff;
  }
  .navbar-custom ul.main-menu li .dropdown-menu {
    margin-top: 0;
  }
  .navbar-custom ul.main-menu li .dropdown-menu:after {
    border: 0;
  }
  .navbar-custom.top-nav-collapse {
    /*background: rgba(0, 0, 0, 0.9);*/
  }
  .navbar-custom.top-nav-collapse ul.main-menu li.active a {
    background: #f25d4f;
    color: #ffffff;
  }
  .top-nav-collapse { display: none; }
  header .intro {
    padding-top: 25%;
  }
  header .intro .intro-body #slide-intro {
    padding: 0;
  }
  header .intro .intro-body #slide-intro h1 {
    font-size: 300%;
  }
  header .intro .intro-body #slide-intro .intro-text {
    font-size: 120%;
  }
  .content { margin-top: 75px; }
  .section-content .section-description {
    font-size: 16px;
  }
  #portfolio #gallery-full-width li {
    width: 100%;
  }
  .top-navbar .col-sm-5 { text-align: center !important; }
    .top-navbar .container { padding: 0; }
    .top-navbar ul  { padding: 0; float: left; }
    .top-navbar ul li { background-position: 0 12px !important; margin-left: 5px !important; padding-right: 5px !important; padding-left: 0; }
    .top-navbar ul li a { font-size: 12px; }
    .navbar-custom ul.main-menu li a { font-size: 16px; padding-top: 5px !important; padding-bottom: 5px !important; }
    .filter { padding-bottom: 20px; padding-top: 20px; }
    #home .filter { margin-top: 40px; }
    .filter label, .filter-field { text-align: center !important; padding-right: 15px !important; }
    .content #filter-bar .filter .search-field,
    .content #filter-bar .filter .col-sm-4 .search-field {
      display: inline-block;
      width: 100% !important;
      margin-bottom: 10px;
    }
  .bg-white { padding: 40px 10px; }
    #home-deals .col-sm-4 { text-align: center !important; margin: 0px auto; display: block; width: 100% !important; }
    #home-deals img { width: 100%; height: 100%; margin: 0 auto 10px; }
    /*#home-adbar img { width: 100%; height: 100%; }*/
    .page-title { font-size: 20px; }
    #home-linkslist .col-sm-4 { margin-bottom: 30px; padding-left: 10px; }
    #home-linkslist h3 { font-size: 24px; }
    #home-linkslist ul li a { font-size: 13px; }
    .mappath { margin-left: auto; margin-right: auto; text-align: center; }
    #services-lists .services_thumbs .col-sm-4 {
      width: 100% !important;
    }
    .service-thumb { margin-bottom: 5px; width: 100%; height: 100%; }
    .service-thumb img {
      width: 100%;
      height: 100%;
    }
    .adtitle {
      left: 0px;
    }
    .home-longban2 { margin: 0 !important; }
    .home-longban2 img { width: 100%; height: 100%; }
    .nav-tabs > li { float: none; margin-bottom: 2px; }
    #services-lists .cols { margin-bottom: 20px; }
    #services-lists a.list-item { margin-left: 20px; }
    .view-on-map { background-position: 34% 5px; margin-top: 10px; }
    #service-detail #services-lists .thumb { width: 270px; height: 248px; }
    #service-detail #services-lists .featured_row {
      padding-left: 5px !important;
    }
    #service-detail #services-lists .featured_row .thumb {
      width: 250px;
      height: 228px;
    }
    #service-detail #services-lists .thumb img { width: 100%; height: 100%; }
    /*.featured-bar .right { font-size: 14px; }*/
    #service-detail #services-lists .info:first-child { float: left; width: 90%; text-align: left; }
    #service-detail #services-lists .info:nth-child(2) {
      float: left;
    }
    #service-detail #services-lists .info:last-child {
      float: left;
      width: 97px !important;
    }
    #service-detail #services-listss .featured_row .info:last-child {
      float: left;
      width: 74px !important;
    }
    #service-detail #services-lists .nav-tabs { float: none; width: 100%; }
    .side-filters { padding:20px 0 40px; }
    .ads { margin-top: 50px; text-align: center; }
    .tabssorts { text-align: center; }
    .orderby { margin-top: 10px; text-align: center; }
    /*#service-detail #services-lists .container { padding: 0; }*/
    .sort-row .col-sm-4 { text-align: center !important; }
    #service-detail #services-lists .col-sm-9 { padding:0; }
    .subscribe-form { text-align: center; }
    .subscribe-form input[type="text"] { display: inline-block; }
    .subscribe-form button { display: inline-block; margin: 15px 0 20px 20px; }
  /*.static_logos { padding-left: 30px; }*/
  .static_logos li { padding-right: 10px; }
  .slick-slide { padding-left: 10px !important; padding-right: 10px; }
  .moving-logos ul li { padding: 5px; border: 0; }
  .slick-next { right: 0px !important; }
    .social-icons { text-align: center; padding-right: 0; }
    .app-icons { margin-top: 10px; margin-bottom: 20px; text-align: center; padding-right: 0; }
    .copyright .container { padding: 0; }
    .copyright .col-sm-5 { background: none; padding: 0 5px; margin-bottom: 10px; }
    .copyright .col-sm-5 p { text-align: center; font-size: 13px; }
    .app-icons h4 { float: none; display: block; text-align: center; margin-bottom: 10px; }
    .app-icons a.apple { margin-left: 0; }
  .app-icons a.android img { margin-top: 5px; }
  .nav-justified > li { width: 100% !important; display: block; margin-left: 0 !important; }
  .services_row {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
  }
  .infos {
    width: 100% !important;
  }
  .featured_row .infos {
    width: 250px !important;
  }
  #services-lists .cols {
    width: 100% !important;
    margin-right: auto;
    margin-left: auto;
  }
  #service { margin-top: 0px; }
  #service-detail #service .container { margin: 0 auto; padding: 2px; }
  #service-detail #service .images-row { margin: 0; }
  #service .mappath { margin-bottom: 0px; margin-left: 5px; }
  #service-detail #service .title_row {
    margin-top: 5px;
    margin-bottom: 5px !important;
  }
  #service .section_btns {
    margin-top: 5px;
  }
  #service .btn-subsec {
    margin-right: 0px; margin-bottom: 5px;
  }
  #service-detail #service .col-left { padding-left: 0; width: 100% !important; text-align: center; }
  #service .col-left .row { margin: 0; }
  #service .col-left .row .cols { padding: 0; }
  #service-detail #service .col-left .row .col-sm-6 {
    padding-left: 0;
    width: 100% !important;
    margin-bottom: 5px !important;
    }
  #service .map-col img { width: 289px; }
  #service #map_canvas {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 289px !important; }
    #service .col-right { margin-top: 5px; }
  #service-detail #service .col-right img { width: 100% !important; height: 100%; }
  #service-detail #service .galthumb { width: 100%; margin-bottom: 10px; padding: 0; margin-top: 0; }
  .galthumb a { left: 35% !important; }
  .gal_count { right: 7px; }
  .service-detail { margin: 0 !important; }
  .service-detail .detail-row { margin: 0 !important; }
  .service-detail .detail-row .col-sm-3 { padding: 0; }
  .service_continfo .continfo { width: 100%; }
  #service .business_hours .col { float: left; width: 50%; }
  .other-branches { margin-top: 0 !important; }
  .other-services h3 { text-align: center; }
  ul.other-services li { width: 50%; }
  .other-services .business .thumb {
    width: 220px;
    height: 200px;
    margin: auto;
  }

  .other-services .business .infos {
    width: 220px !important;
    margin: 0 auto 5px !important;
  }

  #other-branches .business .thumb {
    width: 150px;
    height: 128px;
  }

  #other-branches .business .infos {
    padding: 4px 4px 4px;
  }

  .business .info:first-child {
    /* width: 100% !important; */
    text-align: left;
  }

  .business .info:nth-child(2) {
    float: left;
  }

  .business .info:last-child {
    margin-top: 10px;
    width: 70% !important;
    float: left;
  }

  .business .infos h3,
  .business .infos h3 a {
    font-size: 12px !important;
    text-align: left;
  }
  .business .reviews .revtext,
  .business .reviews .totalrevs {
    border: 0 !important;
  }
  .service-detail .detail { padding-top: 5px; }
  .service_continfo { margin-top: 0; margin-bottom: 10px; }
  .clsfied_ad { float: none; margin: 10px auto; }
  #home-linkslist .col-sm-8,#home-linkslist .col-sm-4 { padding: 15px !important; }
  #home-linkslist .col-sm-8 { margin-bottom: 10px; }
  .app-icons { text-align: center; }
  .app-icons h4 { float: none; text-align: center; margin-bottom: 10px; }
  #home-linkslist ul li a { font-size: 13px; }
  .other-branches { margin: 10px 0 !important; }
  .other-branches .bx-wrapper { max-width: 2000px !important; padding-bottom: 50px !important; }
  .bx-viewport .slide {
    margin-right: 5px !important;
    /* float: none !important; */
    width: 150px !important;
  }
  #other-branches .slide-inner {
    width: 150px !important;
  }
  .other-branches .bx-wrapper .bx-controls-direction a.bx-prev { top: 80% !important; margin-left: 200px !important; }
  .other-branches .bx-wrapper .bx-controls-direction a.bx-next { top: 80% !important; margin-right: 200px !important; }
  .advertise-left,
  .advertise-right {
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 20px;
  }

  .advertise-right img {
    width: 100%;
    height: 100%;
  }

  #suModal .modal-dialog,
  #siModal .modal-dialog, 
  #faqModal .modal-dialog
  {
    width: 80% !important;
  }

  #suModal .nav-tabs>li {
    margin-bottom: -1px !important;
  }
  .faq-form-left {
    padding: 15px !important; }
  #advertise .btn-orange { margin-bottom: 5px; margin-right: auto; margin-left: auto; }
  #confirmBox {
    left: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
  }
  .ask-question .btn { margin-top: 10px; }
  #contactus .col-lg-6:nth-child(2) img {
    width: 100%;
    height: 100%;
  }
  #sum_box .col-sm-3 {
    padding-right: 0px !important;
  }

  .stats .col-sm-6 {
    margin-bottom: 5px;
  }

  .latest_reviews {
    width: 100% !important;
    float: none !important;
    margin-top: 5px;
  }
  .latest_reviews h3 {
    position: relative;
    top: 5px;
  }
  
  .user-content .bg-white {
    padding: 0px 0 20px !important;
  }

  .user-content .bg-white .col-lg-12 {
    padding-left: 0;
  }

  .user-content .bg-white .form-body {
    padding-left: 5px;
  }

  .user-content .bg-white .form-body .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .user-content .bg-white .form-body .col-sm-6:last-child {
    padding-left: 10px !important;
    /* margin-left: 38px;
    margin-top: 5px; */
  }

  .user-content .bg-white .form-group .col-sm-6 {
    padding: 10px;
  }
  .user-content .bg-white .form-group .col-sm-2,
  .user-content .bg-white .form-group .col-sm-4,
  .user-content .bg-white .form-group .col-sm-5,
  .user-content .bg-white .form-group .col-sm-7,
  .user-content .bg-white .form-group .col-sm-8,
  .user-content .bg-white .form-group .col-sm-9,
  {
    padding: 0 !important;
  }
  #accordion-opinfo3 .panel-body { padding: 5px; }
  .serv_sch_right .bootstrap-timepicker {
    margin-left: 38px !important;
    margin-top: 5px !important;
  }
  .lbl_maploc {
    margin-left: 12px;
  }

  #myservices #map_canvas {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }

  .service_schedule .col-sm-1 {
    float: left;
    height: 35px;
    line-height: 35px
  }

  .service_schedule .col-sm-1.serv_sch_middle {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .service_schedule .col-sm-3,
  .service_schedule .col-sm-6 {
    float: left;
  }
  #frmProfile .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #frmProfile .col-sm-5:last-child {
    float: none !important;
  }
  #frmProfile .btn-black {
    margin-top: 5px;
  }
  .user-content .page-title {
    text-align: center !important;
  }
  .user-listings .actions {
    text-align: center !important;
    margin: 20px auto !important;
  }
  .table-responsive {
    border: 0 !important;
  }
  .list-act-btns {
    text-align: center !important;
    margin-top: 10px;
  }

  .dell-all {
    text-align: center !important;
    margin-bottom: 5px;
  }

  .form-control,
  .ddsearch {
    width: 100% !important;
    text-align: left !important;
  }

  #search-form {
    text-align: center !important;
  }
  .btn-newad { margin-top: 5px; }
  #frmImage .form-body {
    padding-left: 0 !important;
  }
  .form-actions {
    line-height: 3em;
    text-align: center;
    padding: 0 !important;
  }
  #previewModal .modal-body { padding: 0; }
  #previewModal .modal-lg {
    width: 100% !important;
    height: 100% !important;
  }

  .landing-banner-preview {
    width: 100% !important;
  }

  .landing-featured-preview .service-thumb {
    width: 184px !important;
    height: 167px !important;
  }

  .form-actions {
    line-height: 3em;
  }

  #previewModal .modal-lg {
    width: 100% !important;
    height: 100% !important;
  }

  .landing-featured-preview,
  .inner-featured-preview,
  .landing-hotdeal-preview,
  .inner-hotdeal-preview,
  .landing-banner-preview,
  .inner-banner-preview {
    width: 100% !important;
    background-size: contain !important;
  }

  .landing-hotdeal-preview .service-thumb,
  .inner-hotdeal-preview .service-thumb {
    width: 75px !important;
    height: 68px !important;
  }

  .inner-featured-preview .service-thumb {
    width: 56px !important;
    height: 51px !important;
  }

  .landing-featured-preview .service-thumb {
    width: 75px !important;
    height: 68px !important;
  }

  .preview-box {
    top: 104px !important;
    left: 78px !important;
  }

  .inner-hotdeal-preview .preview-box {
    top: 103px !important;
  }

  .landing-hotdeal-preview .preview-box {
    left: 32px !important;
    top: 44px !important;
  }

  .inner-hotdeal-preview .preview-box {
    left: 32px !important;
    top: 42px !important;
  }

  .landing-featured-preview .preview-box {
    top: 42px !important;
    left: 32px !important;
  }

  .inner-featured-preview .preview-box {
    top: 47px !important;
    left: 154px !important;
  }

  .landing-banner-preview .banner-ad {
    width: 149px !important;
    height: 19px !important;
    left: 76px !important;
    top: 4px !important;
  }

  .inner-banner-preview .banner-ad {
    width: 264px !important;
    height: 33px !important;
    left: 18px !important;
    top: 149px !important;
  }

  .landing-featured-preview .adtitle,
  .landing-hotdeal-preview .adtitle,
  .inner-hotdeal-preview .adtitle {
    left: 0px;
    padding: 5px;
    font-size: 10px;
    width: 70px !important;
    height: 30px;
    line-height: 20px;
    bottom: 10px;
  }

  .landing-featured-preview .adtitle a,
  .landing-hotdeal-preview .adtitle a,
  .inner-hotdeal-preview .adtitle a {
    top: 0 !important;
    height: 20px;
  }

  .inner-featured-preview .adtitle {
    left: 0px;
    padding: 5px;
    font-size: 10px;
    width: 50px !important;
    height: 30px;
    line-height: 20px;
    bottom: 10px;
  }

  .inner-featured-preview .adtitle a {
    height: 30px;
    top: 0 !important;
  }

  .landing-featured-preview .adtitle a {
    height: 20px !important;
  }

  .landing-featured-preview .ftag {
    background-size: contain;
    width: 70%;
    height: 70%;
    top: -3px;
    left: -3px;
  }

  .inner-featured-preview .ftag {
    width: 70%;
    height: 70%;
    top: -4px;
    background-size: contain;
    left: -4px;
  }

  .static-logo-preview,
  .moving-logo-preview {
    background-size: contain;
    width: 100%;
  }

  .static-logo-preview .banner-ad {
    width: 20px;
    height: 13px;
    top: 2px;
    left: 63px;
  }

  .moving-logo-preview .banner-ad {
    width: 15px;
    height: 9px;
    top: 30px;
    left: 110px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .navbar-header { margin-top: 10px; }
  .navbar-custom a#logo {
    background: rgba(0, 0, 0, 0) url("../img/logo.png") no-repeat scroll 0 0;
    height: 39px;
    width: 185px;
    margin-left: 10px;
  }
  .navbar-toggle { margin-top: 0 !important; margin-bottom: 0 !important; }
  .navbar-toggle span.icon-bar {
    background: #ffffff;
    border-radius: 0;
    height: 3px;
  }
  .navbar-collapse.in { margin-top: 10px; }
  .navbar-nav > li > a { line-height: 30px; font-size: 18px; }
  .navbar-custom ul.main-menu {
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-custom ul.main-menu li a {
    background: #222222;
    color: #ffffff;
  }
  .navbar-custom ul.main-menu li a:hover,
  .navbar-custom ul.main-menu li a:focus {
    background: #f25d4f;
    color: #ffffff;
  }
  .navbar-custom ul.main-menu li.active a {
    background: #f25d4f;
    color: #ffffff;
  }
  .navbar-custom.top-nav-collapse {
    /*background: rgba(0, 0, 0, 0.9);*/
  }
  .navbar-custom.top-nav-collapse ul.main-menu li.active a {
    background: #f25d4f;
    color: #ffffff;
  }
  .navbar-custom a#logo { top: 0 !important; }
  .top-navbar .col-sm-5 { text-align: center !important; }
  .top-navbar ul { float: none; padding-left: 10px; text-align: center; overflow: hidden; }
    .top-navbar ul li { background-position: 0 12px !important; float: none; display: inline-block; }
    .top-navbar ul li a { font-size: 14px; }
    .top-nav-collapse { display: none; }
    .navbar-custom ul.main-menu li a { font-size: 18px; }
  .content { margin-top: 75px; }
    .filter { padding-bottom: 20px; padding-top: 20px; }
    #home .filter { margin-top: 140px; }
    .filter label, .filter-field { text-align: center !important; }
    .filter .search-field { display: inline-block; width: 70% !important; margin-bottom: 10px; }
    #home-deals .col-sm-4 { text-align: center !important; margin: 0px auto 15px; display: block; width: 100% !important; }
    #home-deals img { width: 100%; height: 100%; margin: 0 auto 10px; }
    #home-adbar img { width: 90px; height: 68px; }
    .page-title { font-size: 30px; }
    #home-linkslist .col-sm-4 { margin-bottom: 30px; padding-left: 50px; }
    #services-lists .services_thumbs .col-sm-4 {
      width: 100% !important;
    }
  .service-thumb {
    width: 350px;
    height: 320px;
    margin: auto;
  }
  /* .hdtag { left: 30px; } */
  .adtitle { left: 42px; }  
  .ftag { left: 36px; }
  .static_logos li { padding-right: 8px; }
  .slick-slide { padding-left: 45px !important; padding-right: 10px; margin-top: 0px; }
  .moving-logos ul li { padding: 5px; border: 0; }
  #home-linkslist ul li {
    width: 100% !important;
  }
    /* .mappath { margin-left: 180px; } */
    .nav-tabs > li { float: left; margin-bottom: 2px; }
    #service-detail #services-lists .services_row {
      padding: 0 0 0 10px !important;
    }
    #services-lists .container { padding-left: 5px; padding-right: 5px; }
    #services-lists .cols { margin-bottom: 20px; width: 100% !important; }
    .services_row { padding-left: 10px; }    
    #service-detail #services-lists .cols {
      width: 50% !important; float: left;
    }
    #service-detail #services-lists .featured_row {
      padding-left: 0px !important;
    }
    #service-detail #services-lists .featured_row .cols {
      width: 210px !important;
    }
    #service-detail #services-lists .thumb {
      width: 210px !important;
      height: 180px !important;
    }
    #service-detail #services-lists .featured_row .infos {
      width: 210px !important;
    }
    #service-detail #services-lists .infos {
      width: 210px !important;
    }
    #service-detail #services-lists .featured_row .ftag {
      left: -6px !important;
    }
    #myTabContent .bx-wrapper .bx-prev { left: 200px !important; }
    #myTabContent .bx-wrapper .bx-next { right: 200px !important; }
    #services-lists a.list-item { margin-left: 20px; }
    .sort-row .col-sm-6 { float: left; width: 0%; }
    .sort-row .col-sm-4 { float: left; width: 45%; }
    .sort-row .col-sm-2 { float: left; width: 45%; }
    .view-on-map { background-position-x: 25%; }
    /*.featured-bar .right { font-size: 14px; }*/
    #service-detail #services-lists .info:first-child { float: left; width: 90%; }
    #service-detail #services-lists .info:nth-child(2) {
      float: left;
      width: 30% !important;
    }
    #service-detail #services-lists .info:last-child { float: left; width: 10%; margin-top: 10px; }
    .side-filters { padding-top: 20px; padding-bottom: 40px; }
    .subscribe-form { text-align: left; }
    .subscribe-form input[type="text"] { display: inline-block; }
    .subscribe-form button { display: inline-block; margin: 15px 0 20px 20px; }
    .social-icons { text-align: center; }
    .app-icons { margin-top: 20px; margin-bottom: 20px; }
    .copyright .col-sm-5 { background: none; margin-bottom: 10px; }
    .copyright .col-sm-5 p { text-align: center; }
  .nav-justified > li { width: 100% !important; display: block; margin-left: 0 !important; }
    .table-responsive { overflow-x: scroll !important; }
  #services-lists .cols { width: 63%; margin: 0 auto 20px; }
  #service { margin-top: 15px; }
  #service .title_row { padding-left: 10px; padding-right: 10px; }
  .section_btns { margin-top: 10px; float: left; }
  .btn-subsec { margin-right: 5px; }
  #service-detail #service .container { margin: 0 auto; padding: 0px; }
  #service-detail #service .images-row { margin: 0; padding-left: 8px; }
  #service .mappath { margin-bottom: 20px; } 
  #service .service-image { margin-top: 10px; }
  #service .service-image img { width: 100%; height: 100%; }
  #service .col-left .row { margin: 0; }
  #service .col-left .row .cols { padding: 0; }
  #service .col-left .row .col-sm-6 {
    padding-left: 0;
    margin-bottom: 10px;
    width: 100% !important;
  }
  #service #map_canvas {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 289px !important;
  }
  #service .adtitle {
    left: 70px !important;
  }
  #service .gal_count {
    right: 83px !important;
  }
  #service-detail #service .col-right { width: 98% !important; height: 100%; }
  #service-detail #service .galthumb { width: 100%; margin-bottom: 10px; padding: 0; height: 100%; }
  #service-detail #services-lists .nav-tabs {
    width: 66%;
  }
  #service-detail #services-lists .orderby .bootstrap-select.form-control:not([class*=span]) {
    width: 20% !important;
  }
  .galthumb a { left: 35% !important; }
  #service .service-detail {
    margin: 0 !important;
    padding: 0 10px;
  }
  #service .detail-row {
    margin: 0 !important;
    padding: 0 10px;
  }
  #service .business_hours .col { width: 50%; float: left; }
  .service-detail .detail-row .col-sm-3 { padding: 0; }
  .other-branches { margin-top: 0 !important; }
  .other-services { text-align: center; }
  /* .other-services .business { width: 50%; float: left; margin-bottom: 10px; } */
  .other-services .business .thumb {
    width: 220px;
    height: 200px;
    margin: auto;
  }
  .other-services .business .infos {
    width: 220px !important;
    margin: 0 auto 5px !important;
  }
  #other-branches .business .thumb {
    width: 130px;
    height: 108px;
  }

  #other-branches .business .infos {
    padding: 4px 4px 4px;
  }
  .business .info:first-child {
    /* width: 100% !important; */
    text-align: left;
  }
  .business .info:nth-child(2) { float: left; }
  .business .info:last-child {
    margin-top: 10px;
    width: 70% !important;
    float: left;
  }
  .business .infos h3,
  .business .infos h3 a {
    font-size: 12px !important;
  }
  .business .reviews {
    text-align: center;
    padding-right: 10px;
    float: right;
    display: inline-block;
  }
  .business .reviews .revtext,
  .business .reviews .totalrevs { border: 0; }
  ul.other-services li { width: 32.5%; display: inline-block; float: none; vertical-align: top; }
  .service-detail .detail { padding-top: 5px; }
  .service_continfo { margin-top: 0; margin-bottom: 10px; }
  .clsfied_ad { float: none; margin: 10px auto; }
  #home-linkslist .col-sm-8,#home-linkslist .col-sm-4 { padding: 15px !important; }
  #home-linkslist .col-sm-8 { margin-bottom: 10px; }
  .app-icons { text-align: center; }
  .app-icons h4 { float: none; text-align: center; margin-bottom: 10px; }
  #home-linkslist ul li a { font-size: 13px; }
  .other-branches { margin: 10px 0 !important; }
  .other-branches .bx-wrapper { max-width: 2000px !important; padding-bottom: 50px !important; }
  .bx-viewport .slide { margin-right: 5px !important; }
  .other-branches .bx-wrapper .bx-controls-direction a.bx-prev { top: 80% !important; margin-left: 0px !important; }
  .other-branches .bx-wrapper .bx-controls-direction a.bx-next { top: 80% !important; margin-right: 0px !important; }
  .advertise-left,
  .advertise-right {
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 20px;
  }
  .advertise-right img { width: 100%; height: 100%; }
  #suModal .modal-dialog,
  #siModal .modal-dialog,
  #faqModal .modal-dialog {
    width: 80% !important;
  }
  #suModal .nav-tabs>li {
    margin-bottom: -1px !important;
  }
  #contactus .col-lg-6:nth-child(2) img {
    width: 100%;
    height: 100%;
  }
  #sum_box .col-sm-3{
    padding-right: 0px !important;
  }

  .stats .col-sm-6 {    
    margin-bottom: 5px;
  }
  .latest_reviews {
    width: 100% !important;
    float: none !important;
    margin-top: 5px;
  }
  .latest_reviews h3 {
    position: relative;
    top:5px;
  }
  .user-content .bg-white {
    padding: 0px 0 20px !important;
  }
  .user-content .bg-white .col-lg-12 {
    padding-left: 0;
  }
  .user-content .bg-white .form-body { padding-left: 5px; }
  .user-content .bg-white .form-body .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .user-content .bg-white .form-body .col-sm-6:last-child {
    padding-left: 10px !important;
  }
  .user-content .bg-white .form-group .col-sm-6 { padding: 10px; }
  .user-content .bg-white .form-group .form-control,
  .user-content .bg-white .form-group .ddsearch {
    /* width: 96% !important; */
  }
  .lbl_maploc { margin-left: 12px; }
  #myservices #map_canvas { width: 96%; margin-left: auto; margin-right: auto; }
  .service_schedule .col-sm-1 { float: left; height: 35px; line-height: 35px }
  .service_schedule .col-sm-1.serv_sch_middle {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .service_schedule .col-sm-3,
  .service_schedule .col-sm-6 {
    float: left;
  }
  #frmProfile .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  #frmProfile .col-sm-5:last-child {
    float: left !important;
  }
  .list-act-btns {
    text-align: center !important;
    margin-top: 10px;
  }
  .dell-all {
    text-align: center !important; margin-bottom: 5px; }
  .form-control,
  .ddsearch {
    width: 100% !important;
    text-align: left !important;
  }
  #search-form {
    text-align: center !important;
  }
  #s2id_adtypes {
    width: 150px !important;
  }
  .btn-trash.form-control { width: 80px !important; }
  #adsmanager .col-sm-6.align-right {
    text-align: center !important;
    margin-top: 10px !important;
  }
  .btn-newad {
    margin-top: 0px;
  }
  #previewModal .modal-lg {
    width: 100% !important;
    height: 100% !important;
  }

  .landing-banner-preview {
    width: 100% !important;
  }

  .landing-featured-preview .service-thumb {
    width: 184px !important;
    height: 167px !important;
  }
  .form-actions { line-height: 3em; }
  #previewModal .modal-lg {
    width: 100% !important;
    height: 100% !important;
  }

  .landing-featured-preview,
  .inner-featured-preview,
  .landing-hotdeal-preview,
  .inner-hotdeal-preview,
  .landing-banner-preview,
  .inner-banner-preview {
    width: 100% !important;
    background-size: contain !important;
  }

  .landing-hotdeal-preview .service-thumb,
  .inner-hotdeal-preview .service-thumb {
    width: 107px !important;
    height: 97px !important;
  }

  .inner-featured-preview .service-thumb {
    width: 80px !important;
    height: 81px !important;
  }

  .landing-featured-preview .service-thumb {
    width: 107px !important;
    height: 97px !important;
  }

  .preview-box {
    top: 104px !important;
    left: 78px !important;
  }

  .inner-hotdeal-preview .preview-box {
    top: 103px !important;
  }

  .landing-hotdeal-preview .preview-box {
    left: 45px !important;
    top: 63px !important;
  }

  .inner-hotdeal-preview .preview-box {
    left: 45px !important;
    top: 60px !important;
  }

  .landing-featured-preview .preview-box {
    top: 61px !important;
    left: 46px !important;
  }

  .inner-featured-preview .preview-box {
    top: 59px !important;
    left: 220px !important;
  }

  .landing-banner-preview .banner-ad {
    width: 213px !important;
    height: 29px !important;
    left: 109px !important;
    top: 7px !important;
  }

  .inner-banner-preview .banner-ad {
    width: 377px !important;
    height: 46px !important;
    left: 27px !important;
    top: 215px !important;
  }

  .landing-featured-preview .adtitle,
  .landing-hotdeal-preview .adtitle,
  .inner-hotdeal-preview .adtitle {
    left: 0px;
    padding: 5px;
    font-size: 15px;
    width: 100px !important;
    height: 45px;
    line-height: 30px;
    bottom: 5px;
  }
  .landing-featured-preview .adtitle a,
  .landing-hotdeal-preview .adtitle a,
  .inner-hotdeal-preview .adtitle a {
    top: 0 !important;
    height: 30px;
  }
  .inner-featured-preview .adtitle {
    left: 0px;
    padding: 5px;
    font-size: 15px;
    width: 75px !important;
    height: 50px;
    line-height: 50px;
    bottom: 5px;
  }
  .inner-featured-preview .adtitle a {
    height: 37px;
  }
  .landing-featured-preview .adtitle a {
    height: 30px !important;
  }
  .landing-featured-preview .ftag {
    background-size: contain;
    width: 100%;
    height: 100%;
  }
  .inner-featured-preview .ftag { width: 100%; height: 100%; top: -4px; background-size: contain; left: -4px; }
  .static-logo-preview,.moving-logo-preview {
    background-size: contain;
    width: 100%;
  }
  .static-logo-preview .banner-ad {
    width: 28px;
    height: 20px;
    top: 8px;
    left: 91px;
  }
  .moving-logo-preview .banner-ad {
    width: 21px;
    height: 13px;
    top: 47px;
    left: 158px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #portfolio #gallery-full-width li { width: 50%; }
  body { overflow-x: hidden; }
  .navbar-header { float: none; display: block; text-align: center; }
  .navbar-custom a#logo {
    background: rgba(0, 0, 0, 0) url("../img/logo.png") no-repeat scroll 50% 15px;
    height: 79px;
    width: 100%;
  }
  .navbar-nav {
    margin-top: 15px;
    margin-left: 150px;
  }
  .navbar-right { float: left !important; width: 100%; }
  .top-navbar .col-sm-5 { width: 35%; }
  .top-navbar .col-sm-7 { width: 65%; }
  .navbar-custom .container { padding-right: 0; }
  .navbar-custom ul.main-menu li a { font-size: 17px; padding-right: 10px; padding-left: 10px; background: none !important; color: #ffffff !important; }
  .navbar-custom ul.main-menu li a:hover, .navbar-custom ul.main-menu li a:focus { /*background: #ffffff !important;*/ color: #f58220 !important; }
  .navbar-custom ul.main-menu li.active a { /*background: #ffffff !important;*/ color: #f58220 !important; }
  .navbar-custom.top-nav-collapse a#logo { margin: 10px 0 25px 280px; }
  .dashboard-nav .nav-pills > li > a { font-size: 11px !important; }
  .content {
    margin-top: 170px;
  }
  .mappath { margin-left: 20px; }
  .home-longban1, .home-longban2 { margin: 0; }
  #home .filter { padding-bottom: 20px; margin-top: 250px; }
  .filter .col-sm-4 { width: 46%; clear: both; margin-left: 80px; margin-top: 20px; }
  .filter .col-sm-3 { margin-right: 0; width: 40%; }
  .filter .col-sm-3:nth-child(1) { margin-left: 80px; }
  .filter .col-sm-2 { margin-top: 20px; }
  .filter .col-sm-3 .search-field { width: 215px !important; }
  .home-longban1 .col-sm-12, .home-longban2 .col-sm-12 { width: inherit; }
  .home-longban1 img, .home-longban2 img { width: 100%; }
  .service-thumb {
    width: 240px !important;
    height: 220px !important;
    margin: 0;
  }
  .adtitle {
    left: 0px;
  }
  .ftag {
    left: 0px;
  }
  .filter .col-sm-4 .search-field { width: 240px !important; }
  .filter label, .filter-field { text-align: left !important; }
  .filter-field.col-sm-2 { width: 25%; text-align: right !important; }
  #home-deals .container { padding: 0; }
  #home-deals .col-sm-4 { width: 33.33333333%; }
  #home-deals .col-sm-4:nth-child(1), #home-deals .col-sm-4:nth-child(2) { width: 34.1% !important; }
  #home-deals .col-sm-4:last-child {
    width: 31.8% !important;
  }
  #home-deals .deals-row1 .col-sm-8 img, #home-deals .deals-row3 .col-sm-8 img { width: 99%; height: 264px; }
  #home-deals .deals-row2 .col-sm-4:nth-child(1), #home-deals .deals-row2 .col-sm-4:nth-child(2) { width: 33.33333333%; }
  #home-deals .deals-row2 .col-sm-4:nth-child(1) img, #home-deals .deals-row2 .col-sm-4:nth-child(2) img { width: 98%; }
  #home-deals .deals-row2 .col-sm-4:nth-child(3) { width: 33.33333333%; }
  #home-deals .deals-row2 .col-sm-4:nth-child(3) img { width: 100%; }
  #home-deals .deals-row3 .col-sm-4 { width: 33.33333333%; }
  #home-deals img { width: 100%; height: 100%; }
  #home-adbar .static_logos img {
    width: 100%;
    height: 100%;
  }
  #home-linkslist ul li a { font-size: 13px; }
  .hdtag { left: -3px; }
  ul.static_logos { padding-left: 20px; }
  ul.static_logos li { padding-right: 20px !important; }
  ul.static_logos li:last-child {
    padding-right: 0px !important;
  }
  .slick-slide {
    padding-left: 30px !important;
    padding-right: 20px;
    margin-top: 0 !important;
  }
  .moving-logos ul li { padding: 5px; border: 0; }
  #services-lists p { font-size: 14px; }
  .sort-row .col-sm-6 { width: 30%; }
  .sort-row .col-sm-4 { width: 40%; }
  .sort-row .col-sm-2 { width: 30%; }
  .tab-pane .col-sm-4 { width: 50%; }
  .view-on-map { background-position-x: 19%; }
  .subscribe-form input[type="text"] { width: 210px; }
  .subscribe-form button { margin-right: 10px; }
  footer .toprow .col-sm-5 { padding: 0; }
  .app-icons h4 { font-size: 16px; }
  .app-icons a { display: inline-block; margin-left: 5px; }
  .app-icons a.android { margin-top: 5px; }
  /*.app-icons .apple, .app-icons .android { width: 25px; height: 29px; }
  .app-icons .window { width: 28px; height: 29px; }*/
  .app-icons img { max-width: 100%; max-height: 100%; }
  .copyright .col-sm-5 { background-position: 98% 4px; width: 45%; }
  .copyright p { font-size: 12px; }
  .table-responsive { overflow-x: scroll !important; }
  #services-lists .row { margin-left: 0 !important; }
  /* #services-lists .cols { width: 33% !important; } */
  #services-lists .services_thumbs .col-sm-4:nth-child(1),
  #services-lists .services_thumbs .col-sm-4:nth-child(2) {
    width: 34.1% !important; }
  #services-lists .services_thumbs .col-sm-4:last-child {
    width: 31.8% !important; }
  #Services .container { padding: 0; }
  #services-lists .list-item { margin-right: 5px; }
  #services-lists .service-thumb { width: 250px; height: 230px; }
  #service-detail #service .container { margin: 0 auto; padding: 0px; }
  #service-detail #service .images-row { margin: 0; }
  #service { margin-top: 15px; padding-left: 5px; padding-right: 5px; }
  #service .mappath { margin-bottom: 20px; }
  .section_btns {
    clear: both;
    margin-top: 10px;
    padding-right: 10px; }
  #service .col-left {
    padding-left: 75px !important;
    width: 100% !important;
  }
  #service .col-left .row { margin: 0; }
  #service .col-left .row .cols { padding: 0; }
  #service .col-left .row .col-sm-6 {
    padding-left: 0;
    height: 237px;
    width: 289px !important;
  }
  #service .col-left .row img { width: 100%; height: 100%; }
  #service .galthumb {
    width: 100%;
    padding-left: 0px;
    margin-top: 10px;
    height: 237px;
  }
  #service .galthumb a { left: 12%; top: 28%; line-height: 1.2em; }
  #service-detail #service .col-right {
    text-align: center !important;
    padding-top: 20px !important;
  }
  #service .business .thumb {
    width: 180px;
    height: 160px !important;
  }
  #service .business .thumb img {
    width: 100% !important;
    height: 100% !important;
  }
  #service .business .infos {
    width: 180px !important;
  }
   #service .business .infos .info:first-child {
     width: 100% !important;
   }
   #service .business .infos .info.col-sm-3 { width: 50%; margin-top: 20px; }
   #service .business .infos .info:nth-child(3) {
     width: 75% !important;
     margin-top: 20px;
   }
  #service .service-image { width: 100%; height: 100%; }
  #service #map_canvas { height: 237px !important; }
  ul.other-services li .otherservice-thumb img { width: 98%; }
  .service-detail { margin: 0 !important; }
  .service-detail .detail-row { margin: 0 !important; }
  .other-branches { margin-top: 0 !important; }
  .other-branches { margin: 10px 0 !important; }
  .other-branches .bx-wrapper { max-width: 2000px !important; padding-bottom: 50px !important; }
  .bx-viewport .slide { margin-right: 5px !important; }
  .other-branches .bx-wrapper .bx-controls-direction a.bx-prev { top: 80% !important; margin-left: 0px !important; }
  .other-branches .bx-wrapper .bx-controls-direction a.bx-next { top: 80% !important; margin-right: 0px !important; }  
  #contact-info .col-sm-6:first-child { width: 45%; padding-right: 5px; }
  #contact-info .col-sm-6:last-child {
    width: 54%;
    padding-left: 0px;
  }
  .service_continfo .continfo { width: 100%; float: none; clear: both; }
  .clsfied_ad { width: 100%; }
  .clsfied_ad img { width: 100%; }
  .view-on-map { background-position: 0% 5px;}
  .viewonmap img { width: 100%; height: 100%; }
  .ads img { width: 100%; height: 100%; }
  .tabssorts .nav-tabs > li {
    float: left !important;
  }  
  #service-detail #services-lists .services_row { padding: 0 0 0 20px; }
  #services-lists .featured_row { padding-left: 70px; }
  #services-lists .featured_row .cols.list-col-1,
  #services-lists .featured_row .cols.list-col-2,
  #services-lists .featured_row .cols.list-col-3 {
    width: 270px !important;
  }
  #services-lists .cols.list-col-1,
  #services-lists .cols.list-col-2,
  #services-lists .cols.list-col-3,
  #service-detail #services-lists .featured_row .cols {
    width: 250px !important;
  }
  #service-detail #services-lists .featured_row .cols {
    width: 260px !important;
    margin-right: 11px !important;
  }
  #service-detail #services-lists .thumb {
    width: 250px !important;
    height: 228px !important;
  }
  #services-lists .featured_row .ftag {
    left: -5px;
    top: -5px;
  }
  #services-lists #myTabContent .bx-viewport {
    padding-left: 10px !important;
  }

  #myTabContent .bx-wrapper .bx-prev {
    left: 250px !important;
  }

  #myTabContent .bx-wrapper .bx-next {
    right: 250px !important;
  }
  #service-detail #services-lists .infos {
    width: 250px !important;
  }
  #service-detail #services-lists .featured_row .infos {
    width: 250px !important;
  }
  #service-detail #services-lists .info:nth-child(2) { width: 15% !important; }
  #service-detail #services-lists .info:last-child {
    width: 33% !important
  }
  #service-detail #services-lists .orderby .bootstrap-select.form-control:not([class*=span]) {
    width: 50% !important; }
  .advertise-left,
  .advertise-right {
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 20px;
  }
  #suModal .modal-dialog,
  #siModal .modal-dialog,
  #faqModal .modal-dialog {
    width: 700px !important;
  }
  #suModal .nav-tabs>li {
    margin-bottom: -1px !important;
  }
  #contactus .col-lg-6:nth-child(2) {
    text-align: center !important;
  }
  #search-form .btn-orange { margin-top: 5px; }
  #sum_box .col-sm-3 {
    width: 50% !important;
    margin-bottom: 5px !important;
    padding-right: 0px !important;
  }
  #sum_box .col-sm-3:nth-child(2) {
    padding-right: 0px !important;
  }
  .stats .col-sm-6 {
    float: none !important;
    width: 100% !important;
    margin-bottom: 5px;
  }
  #frmProfile .col-sm-5:last-child {
    float: right !important;
  }
  .user-listings .page-title {
    text-align: left !important;
  }
  .list-act-btns {
    margin-top: 0;
    text-align: right !important;
  }
  .dell-all {
    text-align: left !important;
    margin-bottom: 0 !important;
  }
  #search-form {
    text-align: right !important; }
  #ads_search-form .form-control,
  #ads_search-form .ddsearch {
    width: inherit !important;
    /* text-align: left !important; */
  }
  .btn-group.btn-trash {
    width: 100px !important;
  }
  #ads_search-form #txtfield,
  #ads_search-form .btn-orange { margin-top: 5px; }
  #previewModal .modal-lg {
    width: 100% !important;
    height: 100% !important;
  }
  .landing-featured-preview,
  .inner-featured-preview,
  .landing-hotdeal-preview,
  .inner-hotdeal-preview,
  .landing-banner-preview,
  .inner-banner-preview {
    width: 100% !important;
    background-size: contain !important;
  }
  .landing-featured-preview .service-thumb,
  .landing-hotdeal-preview .service-thumb,
  .inner-hotdeal-preview .service-thumb {
    width: 184px !important;
    height: 167px !important;
  }
  .inner-featured-preview .service-thumb {
    width: 137px !important;
    height: 124px !important;
  }
  .preview-box {
    top: 104px !important;
    left: 78px !important;
  }
  .inner-hotdeal-preview .preview-box {
    top: 103px !important;
  }
  .landing-hotdeal-preview .preview-box {
    top: 107px !important;
  }
  .inner-featured-preview .preview-box {
    top: 115px !important;
    left: 376px !important;
  }
  .landing-banner-preview .banner-ad {
    width: 363px !important;
    height: 45px !important;
    left: 187px !important;
    top:13px !important;
  }
  .inner-banner-preview .banner-ad {
    width: 643px !important;
    height: 80px !important;
    left: 46px !important;
    top: 366px !important;
  }
  .inner-featured-preview .adtitle {
    left: 0px;
    padding: 5px;
    font-size: 15px;
    width: 100px !important;
    height: 50px;
    line-height: 50px;
    bottom: 5px;
  }
  .inner-featured-preview .adtitle a { height: 37px; }
  #myservices .user-content .bg-white {
    padding: 0px 10px 0 0 !important; }
  .business-accordion .form-group label {
    width: 25% !important;
  }
  .business-accordion .col-sm-1 {
    height: 35px !important; line-height: 35px; }
}
@media (min-width: 992px) and (max-width: 1250px) {
    body { overflow-x: hidden; }
    .navbar-custom ul.main-menu li a { font-size: 24px; }
    .filter .col-sm-4 { width: 30%; }
    .filter .col-sm-4, .filter .col-sm-3 { margin-right: 0; }
    .filter .col-sm-3 .search-field { width: 215px !important; }
    .home-longban1 .col-sm-12, .home-longban2 .col-sm-12 { width: inherit; float: none; }
    .content #filter-bar .filter .col-sm-4 .search-field {
      width: 240px !important;
    }
    #home-deals .container { padding: 0; }
    #home-deals .deals-row1 .col-sm-4 { width: 33.33333333%; }
    #home-deals .deals-row1 .col-sm-8 img { width: 100%; }
    #home-deals .deals-row2 .col-sm-4:nth-child(1), #home-deals .deals-row2 .col-sm-4:nth-child(2) { width: 33.33333333%; }
    #home-deals .deals-row2 .col-sm-4:nth-child(1) img, #home-deals .deals-row2 .col-sm-4:nth-child(2) img { width: 98%; }
    #home-deals .deals-row2 .col-sm-4:nth-child(3) { width: 33.33333333%; }
    #home-deals .deals-row2 .col-sm-4:nth-child(3) img { width: 100%; }
    #home-deals .deals-row3 .col-sm-4 { width: 33.33333333%; }
    #home-deals .deals-row3 .col-sm-8 img { width: 100%; }
    .view-on-map {
      background-position: 0% 5px;
    }
    .viewonmap img { width: 100%; height: 100%; }
    #service-detail .view-on-map a { margin-left: 21px; }
    .ads img { width: 100%; height: 100%; }
    .featured-bar .right { font-size: 10px !important; }
    .subscribe-form button { margin-right: 24px; }
    .app-icons h4 { font-size: 16px; }
    .copyright .col-sm-5 { background-position: 98% 4px; }
    .table-responsive { overflow-x: scroll !important; }
    #services-lists .row { margin-left: 0 !important; }
    /* #services-lists .cols { width: 33% !important; } */
    #services-lists .services_thumbs .col-sm-4, #services-lists .business-list.col-sm-4 { /* width: 33.33333333% !important; */ }
    #services-lists .service-thumb { /* margin: auto; */ width: 300px; height: 270px; }
    .hdtag { /* left: 0; */ }
    .ftag { /* left: 5px; */ }
    .static_logos li { padding-right: 44px; }
    .slick-slide { padding-left: 40px !important; padding-right: 0; }
    .app-icons { margin-top: 15px; margin-bottom: 15px; }
    .android img { margin-top: 10px; }
    #service-detail #service .container { margin: 0 auto; padding: 0px; }
    #service { margin-top: 15px; }
    #service-detail #service .images-row { margin: 0; }
    #service .mappath { margin-bottom: 20px; }
    #service .col-left {
      padding-left: 0;
      width: 500px !important;
    }
    #service .col-right {
      width: 470px !important;
    }
    #service .col-left .row { margin: 0; }
    #service .col-left .row .cols { padding: 0; }
    #service .col-left .row .col-sm-6 { padding-left: 0; }
    #service .col-left .row img { width: 100%; height: 100%; }
    #service .gal-col {
      width: 240px !important;
      height: 205px;
    }
    #service .map-col {
      width: 240px !important;
      height: 205px;
    }
    #service .galthumb { width: 240px; margin-top: 10px !important; height: 205px !important; }
    #service .galthumb a { left: 15%; }
    #service #map_canvas {
      height: 205px !important;
      width: 100% !important;
    }
    #service .service-image {
      width: 470px;
      height: 420px;
    }
    #service .service-image img {
      width: 100%;
      height: 100%;
    }
    /*#service #map_canvas { height: 165px !important; }
    #service .galthumb img { height: 85% !important; }*/
    .service-detail { margin: 0 !important; }
    .service-detail .detail-row { margin: 0 !important; }
    .other-branches .bx-wrapper { max-width: 2000px !important; padding-bottom: 50px !important; }
    /* #myTabContent .featured_row .col-sm-4 {
      margin-right: 5px !important;
      width: 220px !important;
    }
    #myTabContent .bx-viewport .slide {
      margin-right: 5px !important;
      width: 231px !important;
    } */
    .other-branches .bx-wrapper .bx-controls-direction a.bx-prev { top: 80% !important; margin-left: 0px !important; }
    .other-branches .bx-wrapper .bx-controls-direction a.bx-next { top: 80% !important; margin-right: 0px !important; }
    #services-lists #myTabContent .bx-viewport {
      padding-left: 10px !important;
    }
    #myTabContent .bx-wrapper .bx-prev { left: 330px; }
    #myTabContent .bx-wrapper .bx-next { right: 330px; }
    #service-detail #services-lists .services_row { padding-right: 0; }
    .business .thumb { width: 220px; height: 200px; }
    .business .infos {
      width: 220px;
      padding-left: 5px !important;
      padding-right: 0px !important;
    }
    .rating-md {
      font-size: 1em !important;
    }
    .business .info:first-child { width: 90px !important; }
    .business .info .star-rating {
      bottom: -2px !important;
    }
    .business .infos h3,
    .business .infos h3 a {
      font-size: 13px !important;
    }
    #suModal .modal-dialog,
    #siModal .modal-dialog,
    #faqModal .modal-dialog {
      width: 700px !important;
    }
    #contactus .col-lg-6 { width: 50%; float: left; }
    #contactus .col-lg-6:nth-child(2) img { width: 100%; height: 100%; }
    #previewModal .modal-lg {
      width: 100% !important;
      height: 100% !important;
    }
    .landing-banner-preview { width: 100%; }
}
@media (min-width: 1200px) {
    .container {
        width: 1110px !important;
        padding: 0;
    }
}